body {
	margin: 0;
  background: url(https://cdn.glitch.com/cf9cdaee-7478-4bba-afce-36fbc451e9d6%2Fbackground.png?1541817247354);
  background-position: center;
  background-size: cover;
  color: white; }

%page-etc {
	width: 80%;
	height: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%); }

teacher-app > setup-etc {
  setting {
    &[x-of=game-mode], &[x-of=time-limit] {
      & prev, & next {
        @extend %clickable; } }
    &[x-of=board-size] {
      & img {
        @extend %clickable; } } }
  button {
    &[x-for=preview], &[x-for=start] {
      &:focus {
        outline: none; }
      & img {
        @extend %clickable; } } }

  @extend %page-etc;
  & .left-pane {
    height: 100%;
    width: 66%;
    left: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & a-title {
      width: 100%;
      display: block;
      text-align: center;
      font-size: 100px; }
    & sub-title {
      width: 100%;
      display: block;
      text-align: center;
      font-size: 40px; }
    & settings {
      width: 100%;
      height: 150px;
      display: flex;
      & setting {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        & label {
          text-align: center;
          height: 1em;
          display: block;
          width: 100%;
          flex-grow: 0;
          margin-bottom: 20px; }
        & control {
          display: flex;
          width: 100%;
          flex-grow: 1;
          justify-content: space-evenly;
          & > * {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            counter#{&} {
              flex-grow: 2;
              flex-basis: 40%; }
            prev#{&}, next#{&} {
              flex-grow: 1;
              flex-basis: 20%; }
            & counter {
              flex-grow: 2;
              flex-basis: 40%; }
            & img {
              width: 100%;
              max-width: 100%;
              max-height: 100%; } } } } } }

  & .right-pane {
    height: 100%;
    width: 33%;
    right: 0;
    position: absolute;
    & settings {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: space-evenly;
      & setting {
        display: block;
        & img {
          max-width: 100%;
          max-height: 33%; } } } } }
teacher-app > get-ready-etc {
  button {
    &[x-for=play] {
      &:focus {
        outline: none; }
      & img {
        @extend %clickable; } } }
  
  @extend %page-etc;
  display: flex;
  flex-direction: column;
  align-items: center;
  & > * {
    margin: 10px; }
  & room {
    background: #f5b54c;
    padding: 0.5em 1.5em;
    border-radius: 1.5em; }
  & students-etc {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    & label {
      text-align: left;
      display: block; }
    & students {
      flex-grow: 1;
      padding: 20px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      overflow: scroll;
      & student {
        width: 100px;
        height: 1.5em;
        overflow: scroll;
        margin: 0 0 5px;
        display: block;
        background-image: url(https://cdn.glitch.com/cf9cdaee-7478-4bba-afce-36fbc451e9d6%2Fstudent-item-bar.png?1541576347704);
        background-size: cover;
        padding: 10px;
        text-indent: 40px;
        font-size: 0.8em; } } } }
teacher-app > playing-etc {
  button {
    &[x-for=view-students], &[x-for=end-game] {
      &:focus {
        outline: none; }
      & img {
        @extend %clickable; } } }
  
  position: absolute;
  display: block;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  & title-etc {
    position: absolute;
    left: 0;
    top: 0;
    width: 25%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    & a-title {
      flex-grow: 0.5;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      font-size: 40px; }
    & problem-number {
      flex-grow: 1;
      display: flex;
      background: #ef8150;
      max-height: 35px;
      padding: 0 30px;
      border-radius: 13px;
      font-size: 23px;
      justify-content: center;
      align-items: center;} }
  & problem-etc {
    position: absolute;
    top: 20%;
    bottom: 20%;
    left: 25%;
    right: 25%;h
    & ticker {
      background-color: #4b71d4;
      width: 80px;
      height: 80px;
      font-size: 25px;
      text-align: center;
      line-height: 80px;
      border-radius: 50px;
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%) translateY(-50%); }
    & question {
      background: #fae383;
      display: flex;
      width: 100%;
      height: 100%;
      border-radius: 30px;
      justify-content: center;
      align-items: center;
      color: #f08751;
      font-size: 40px; } }
  & options-etc {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center; } }
teacher-app > game-over-etc {
  @extend %page-etc;
	display: flex;
  flex-direction: column;
  align-items: center;
  & > * {
    margin: 10px; } }

student-app > setup-etc {
  @extend %page-etc;
  & room {
    background-color: #D48A88;
    padding: 2%;
    margin: 2%;
    display: block;
    width: 40vw;
    & button{
      margin:auto; } } }
student-app > get-ready-etc {
  @extend %page-etc;
  & name, & room {
    min-width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); }}

student-app > playing-etc {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  position: absolute;
  & .left-pane {
    height: 100%;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    & > * {
      margin: 10px; }
    & ticker {
      background-color: #4b71d4;
      width: 80px;
      height: 80px;
      font-size: 25px;
      text-align: center;
      line-height: 80px;
      border-radius: 50px;
      flex-grow: 0; }
    & question {
      flex-grow: 1;
      background: #fae383;
      border-radius: 20px;
      text-align: center;
      color: black;
      font-size: 20px;
      padding: 40px;
      min-width: calc(100% - 100px); } }
  & .right-pane {
    width: 66%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    & board {} } }

student-app > game-over-etc {
  @extend %page-etc;
	display: flex;
  flex-direction: column;
  align-items: center;
  & > * {
    margin: 10px; }
  & result-etc {
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden; } }

%clickable {
  cursor: pointer; }

board {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: stretch;
	justify-content: stretch;
	flex-direction: column;
  border: solid white 3px;
  border-radius: 20px;
  overflow: hidden;
  & row {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    & cell {
      background-color: #F3F3F39E;
      border: 1px solid white;
      color: #EE804F;
      text-align: center;
      line-height: 15vh;
      font-size: 25px;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0; } } }

input {
	display: block;
	margin-bottom: 10px;
	padding: 5px;
	width: 100%;
	border: 1px solid lightgrey;
	border-radius: 3px;
	font-size: 16px; }

button {
  &:not([x-custom]) {
    font-size: 16px;
    border-radius: 3px;
    background-color: #00A746;
    color: white;
    border: 1px solid grey;
    box-shadow: 2px 2px #224D34;
    cursor: pointer;
    min-width: 20%;
    margin: 4px;

    &:hover {
      background-color: #26F07B; }
    &:active {
      box-shadow: none; } }
  &[x-custom] {
    background: unset;
    border: unset;
    color: unset;
    padding: unset; } }
